
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Major+Mono+Display&family=Staatliches&display=swap');


.project-professional-logo{
    font-family: 'Staatliches';
    text-align: left;
    border-left: solid 0.05em rgb(0, 255, 179);
    border-bottom: solid 0.05em rgb(0, 255, 179);
    padding: 0.05em;
    width: fit-content;
 
    line-height: 80% !important;
    color: rgb(0, 255, 179);
}
.nav-btn{
margin-right: 10px;
}
.nav-link{
    font-size: 1.3em;
    margin-left: 1.5em;
}
.nav-project{
    font-size: 1.6em !important;
    font-style: italic;
    margin-left: 1em;

}
.container-fluid{
     margin-top: 1.5em;
    /* margin-left: 2.5em !important; */
}
.form-add{
    margin-top: 2em;
}
.form-group{
    margin-right: 0.5em;
}
/* .table-project{
    width: 90% !important;
} */

.project-welcome{
    font-family: 'Lexend', sans-serif;
    font-weight: 100;
    margin-top: 5em;
}
.project-welcome p{
    font-size: 20px;
    font-weight: 700;
}
.project-body{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('../img/projects-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    padding-bottom: 86px;
    color: white;
    font-family: 'Lexend', sans-serif;
    

}
.auth-body{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('../img/projects-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    padding-bottom: 86px;
    color: white;
    font-family: 'Lexend', sans-serif;
    

}
.form-div{
    padding: 2.5rem;
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 15px;
    box-shadow: 2px 2px rgb(0, 0, 0,0.2);

}


.up-footer{
    padding-bottom:80px;
}

